body {
    background-attachment: fixed;
    background-image: url("../images/secret-background.png");
    background-size: 100% 100%;

    font-family: Verdana, sans-serif;
    font-size: 120%;
}
main {
    margin: 2em auto;
    padding: 1em 2em;
    
    width: 1080px;
    max-width: 80%;

    border-radius: 3em;

    background-color: #fffb;
}
h1, h2, h3, h4, h5, h6, #my-cool-poem {
    text-decoration-line: underline;
}
h1 {
    font-size: 225%;
}
h2 {
    font-size: 175%;
}
hr {
    margin-top: 1.5em;
}

.blackboard {
    padding: 0em 1em 0.5em 1em;
    width: fit-content;

    background-color:#222;
    color:white;
}
#my-cool-poem {
    margin-bottom: 0em;
    padding: 0.3em 1em 0.3em 1em;
    width: fit-content;

    font-family: 'Brush Script MT', cursive;
    font-size: 200%;
    font-weight: bold;
}
.haiku {
    margin: .2em ;
    padding: .5em 1.5em;
    width: fit-content;

    color: #111;
    background-color: gainsboro;

    font-family: Georgia, serif;
    font-size: 144%;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-decoration-style: dotted; 
}

.immersion {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}
.immersion * {
    margin: 0px;
    padding-right: 20px;
}
.autocue {
    font-size: 150%;
    font-weight: bolder;
    word-spacing: -4px;
    letter-spacing: 4px;
}
#speaker {
    display: inline-block;
    vertical-align: middle;

    cursor: pointer;
}

#rj {
    letter-spacing: -1.5px;
    line-height: 0px;

    cursor: help;
}
#rj b {
    font-size: 106%;
}

#banner-container {
    margin: 0.5em 2em;
    padding: .4em .8em;

    width: fit-content;
    height: 100px;

    border-radius: 2.5em;
    box-shadow: 0px 4px 10px #0009;

    background-color: #fffa;
}

/*tic-tac-toe*/
table {
    margin-top: 20px;
    width: 360px;
    height: 360px;
    
    border-collapse: collapse; 

    background-color: white;
}
td {
    width: 120px;
    height: 120px;
    
    margin: 0px;
    padding: 0px;

    border: 1px solid black;
    text-align: center;

    font-family: Arial, sans-serif;
    font-size: 72px;
    font-weight: bold;
}
.unplayable {
    background-color: #eee;
}
.winning {
    background-color: white;
}
#restart_button, #play_again_button {
    width: 96px;
    height: 32px;
}